<%- include('partials/header.ejs') %>
<div class="welcome override-hidden">

<h1 class="title drop-in ">Star Blogs - A New Way Of Blogging</h1>


<div class="showWelcomeBlogs ">
    <div class="welcomeblog-item grid-1 drop-right shadow-lg">
        <img src="/images/randomBlog1.jpg" alt="">
    </div>
    <div class="welcomeblog-item grid-2 drop-left shadow-lg">
        <img src="/images/randomBlog2.jpg" alt="">
    </div>
</div>
<button class="btn btn-dark btn-lg">Create Blog</button>
</div>

<%-include("partials/footer.ejs") %>