<%- include("partials/start.ejs") %>
<body>
    
    <div class="loginpage shadow-lg">
        <form action="" method="post">
            <h1 class="fortitle">
                <b>Login</b>
            </h1>
            <div class="input">
                <div class="mb-3">
                    <label for="" class="form-label">Username :</label>
                    <input type="text" class="form-control" id="form-username">
                </div>
                <div class="mb-3">
                    
                    <label for="" class="form-label">Password :</label>
                    <input type="text" class="form-control" id="form-password">
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary btn-lg" value="login">
            </div>
        </form>
    </div>
</body>

    <%- include("partials/end.ejs") %>