<%- include('partials/header.ejs') %>

<div class="profile-card shadow">
    <div class="profile-item-1">
        <img src="/images/profile-user.png" alt="">
    </div>
    <div class="profile-item-2">
        <a href="/signup">  
            <button class="signup btn btn-dark btn-lg" >
                Sign up
            </button>
        </a>

        <a href="/signin">
            <button class="signin btn btn-dark btn-lg" >
                Sign in
            </button>
        </a>
    </div>
</div>

<!-- Sign up -->

<!-- Sign in -->


<%- include('partials/footer.ejs') %>