<%- include("partials/start.ejs") %>

    <body>
        <form  action="/signup" method="POST" >

            <div class="form">

                <div class="mb-3 form-item">
                    <label class="form-label" for="first-name">First Name:</label>
                    <input class="form-control" type="text" id="first-name" name="first-name" required>
                </div>
                <div class="mb-3 form-item">
                    <label class="form-label" for="last-name">Last Name:</label>
                    <input class="form-control" type="text" id="last-name" name="last-name" required>
                </div>
                <div class="mb-3 form-item">
                    <label class="form-label" for="email">Email:</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                </div>
                <div class="mb-3 form-item">
                    <label class="form-label" for="mobile-number">Mobile Number:</label>
                    <input class="form-control" type="tel" id="mobile-number" name="mobile-number" required>
                </div>
                <div class="mb-3 form-item">
                    <label class="form-label" for="dob">Date of Birth:</label>
                    <input class="form-control" type="date" id="dob" name="dob" required>
                </div>
                <div class="mb-3 form-item">
                    <label class="form-label" for="profession">Working Profession:</label>
                    <input class="form-control" type="text" id="profession" name="profession">
                </div>
                <div class="mb-3 form-item">
                    <label for="password" class="form-label">Password :</label>
                   <div class="input-group mb-3">
                    <input type="text" class="form-control" id="password" name="password" required>
                    <span id="password-icon" class="input-group-text" onclick="togglePasswordVisibility()">
                        <i class="bi bi-eye-slash" id="toggleIcon"></i>
                    </span>
                   </div>
                </div>
                <div class="mb-3 form-item">
                    <label for="confirm-password" class="form-label">Confirm Password :</label>
                    <input type="password" class="form-control" id="confirm-password" name="comfirm-password" required>
                </div>
                <div class="from-item submit">
                    <input type="submit" class="btn btn-lg btn-primary" >
                </div>
            </div>
        </form>
    </body>
    <%- include('partials/end.ejs') %>